.jobcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 24px;
}

.jobimagecontainer {
  display: flex;
  margin-bottom: 24px;
  margin-right: 24px;
  width: auto;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.jobimage {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.jobdetailscontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.jobtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.03em;
  margin: 0;
}

.jobcompanydates {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    gap: 8px;
    flex-direction: column;
  }
}

.jobcompany {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  margin: 0;
}

.jobdates {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
}

.jobdescription {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
}
