.blogcontainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 24px 0;

  &.vertical {
    flex-direction: column;
    flex-wrap: wrap;
  }

  &.horizontal {
    flex-direction: row;
  }

  @media (max-width: 768px) {
    flex-direction: "row";
    flex-wrap: "wrap";
  }
}
